{% extends 'base.html.twig' %}

{% block title %}Modifier annonce{% endblock %}
{% block carousel %}{% endblock %}

{% block content %}
    <h1>Modification de l'annonce</h1>

    <div class="container">

        <div class="col-8 mt-4">
            {{ include('annonce/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>

    </div>

    <a href="{{ path('app_annonce_index') }}">Retour au listing</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
